.u-section-1 .u-sheet-1 {
  min-height: 103px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 189px;
  height: 103px;
  margin: -76px auto -30px -51px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1446px;
}

.u-section-2 .u-tabs-1 {
  min-height: 994px;
  margin: 0 0 60px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-2 .u-table-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 16px;
}

.u-section-2 .u-table-2 {
  width: 1108px;
  margin: 33px auto 0;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 470px 0 30px;
}

.u-section-2 .u-table-3 {
  width: 1088px;
  margin: 38px 20px 0 auto;
}

.u-block-d899-278 {
  background-image: none;
}

.u-section-2 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-212 {
  background-image: none;
}

.u-section-2 .u-table-cell-214 {
  background-image: none;
}

.u-section-2 .u-table-cell-216 {
  background-image: none;
}

.u-section-2 .u-table-cell-218 {
  background-image: none;
}

.u-section-2 .u-table-cell-220 {
  background-image: none;
}

.u-section-2 .u-table-cell-222 {
  background-image: none;
}

.u-section-2 .u-table-cell-224 {
  background-image: none;
}

.u-section-2 .u-table-cell-226 {
  background-image: none;
}

.u-block-d899-303 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 1422px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-1 {
    height: 351px;
  }

  .u-section-2 .u-table-2 {
    width: 908px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 270px;
  }

  .u-section-2 .u-table-3 {
    width: 900px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-table-2 {
    width: 688px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 50px;
  }

  .u-section-2 .u-table-3 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 1366px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 10px 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 0;
    margin-bottom: -43px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-table-2 {
    width: 508px;
    margin-top: 43px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-table-3 {
    width: 500px;
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 1571px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-table-1 {
    margin-bottom: -75px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 15px;
  }

  .u-section-2 .u-table-2 {
    width: 308px;
    margin-top: 16px;
  }

  .u-section-2 .u-table-3 {
    width: 310px;
  }
}