.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-image-1 {
  width: 413px;
  height: 198px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-1 .u-form-1 {
  height: 203px;
  width: 570px;
  margin: 15px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  text-decoration: underline !important;
  margin: -8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 488px;
    height: 266px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -53px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 570px;
    height: 311px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -102px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 186px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}